# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: kittum
    description: OpenAPI contract for kittum - the NeTEx validation rules storage.
    version: 0.0.1
    x-entur-metadata:
        id: kittum
        audience: internal
        owner: team-validering
servers:
    - url: https://kittum.entur.io
paths:
    /v1/areas:
        get:
            tags:
                - AreaService
            summary: List all existing areas.
            description: List all existing areas.
            operationId: AreaService_ListAreas
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAreasResponse'
        post:
            tags:
                - AreaService
            summary: Create a new area.
            description: |-
                Create a new area. Returns the full created area, including its server-assigned `id`
                 and `updated_at`.
            operationId: AreaService_CreateArea
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Area'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Area'
    /v1/areas/{id}:
        get:
            tags:
                - AreaService
            summary: Get one area by its id.
            description: Get one area by its id.
            operationId: AreaService_GetArea
            parameters:
                - name: id
                  in: path
                  description: The database id of the area to lookup.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Area'
        delete:
            tags:
                - AreaService
            summary: Delete an area.
            description: Delete an area.
            operationId: AreaService_DeleteArea
            parameters:
                - name: id
                  in: path
                  description: The database id of the area to delete.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - AreaService
            summary: Update an existing area.
            description: Update an existing area. Returns the full updated area, with its new `updated_at`.
            operationId: AreaService_UpdateArea
            parameters:
                - name: id
                  in: path
                  description: The database id of the area to update.
                  required: true
                  schema:
                    type: integer
                    format: int32
                - name: updateMask
                  in: query
                  description: |-
                    The fields of `area` to update. Fields populated in `area` but not listed here are
                     left unchanged. Omitting this mask updates every field populated in `area`.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Area'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Area'
    /v1/flows:
        get:
            tags:
                - ValidationFlowService
            summary: List all existing flows.
            description: |-
                List existing validation flows. The request is paginated with a default
                 page size of 20. The flows are returned shallow: their rule and
                 sub-flow items carry only the database id of what they refer to.
            operationId: ValidationFlowService_ListValidationFlows
            parameters:
                - name: cursor
                  in: query
                  description: The cursor to resume listing from, as returned by a previous call's cursor.
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: The maximum number of flows to return. The default page size is 20.
                  schema:
                    type: integer
                    format: int32
                - name: orderBy
                  in: query
                  description: |-
                    A comma-separated list of fields to order by, each optionally suffixed with " desc"
                     for descending order (ascending is the default). See https://google.aip.dev/132.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListValidationFlowsResponse'
        post:
            tags:
                - ValidationFlowService
            summary: Create a new validation flow.
            description: |-
                Create a new validation flow. Returns the full created flow, deep as in
                 GetValidationFlow, including its server-assigned `id` and `updated_at` and those of
                 every item it contains.
            operationId: ValidationFlowService_CreateValidationFlow
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ValidationFlow'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationFlow'
    /v1/flows/{id}:
        get:
            tags:
                - ValidationFlowService
            summary: Get one flow by its id.
            description: |-
                Get one validation flow by its id. The returned flow is deep: every
                 rule and sub-flow item it contains, recursively, carries both the
                 database id of what it refers to and the referred-to
                 ValidationRule/ValidationFlow itself.
            operationId: ValidationFlowService_GetValidationFlow
            parameters:
                - name: id
                  in: path
                  description: The database id of the flow to lookup.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationFlow'
        delete:
            tags:
                - ValidationFlowService
            summary: Delete a validation flow.
            description: Delete a validation flow.
            operationId: ValidationFlowService_DeleteValidationFlow
            parameters:
                - name: id
                  in: path
                  description: The database id of the validation flow to delete.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - ValidationFlowService
            summary: Update an existing validation flow.
            description: |-
                Update an existing validation flow. Returns the full updated flow, deep as in
                 GetValidationFlow, with its new `updated_at` and those of every item it contains.
            operationId: ValidationFlowService_UpdateValidationFlow
            parameters:
                - name: id
                  in: path
                  description: The database id of the validation flow to update.
                  required: true
                  schema:
                    type: integer
                    format: int32
                - name: updateMask
                  in: query
                  description: |-
                    The fields of `validation_flow` to update. Fields populated in `validation_flow` but not
                     listed here are left unchanged. Omitting this mask updates every field populated in
                     `validation_flow`.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ValidationFlow'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationFlow'
    /v1/owners:
        get:
            tags:
                - OwnerService
            summary: List all existing owners.
            description: List all existing owners.
            operationId: OwnerService_ListOwners
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListOwnersResponse'
        post:
            tags:
                - OwnerService
            summary: Create a new owner.
            description: |-
                Create a new owner. Returns the full created owner, including its server-assigned `id`
                 and `updated_at`.
            operationId: OwnerService_CreateOwner
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Owner'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Owner'
    /v1/owners/{id}:
        get:
            tags:
                - OwnerService
            summary: Get one owner by its id.
            description: Get one owner by its id.
            operationId: OwnerService_GetOwner
            parameters:
                - name: id
                  in: path
                  description: The database id of the owner to lookup.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Owner'
        delete:
            tags:
                - OwnerService
            summary: Delete an owner.
            description: Delete an owner.
            operationId: OwnerService_DeleteOwner
            parameters:
                - name: id
                  in: path
                  description: The database id of the owner to delete.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - OwnerService
            summary: Update an existing owner.
            description: Update an existing owner. Returns the full updated owner, with its new `updated_at`.
            operationId: OwnerService_UpdateOwner
            parameters:
                - name: id
                  in: path
                  description: The database id of the owner to update.
                  required: true
                  schema:
                    type: integer
                    format: int32
                - name: updateMask
                  in: query
                  description: |-
                    The fields of `owner` to update. Fields populated in `owner` but not listed here are
                     left unchanged. Omitting this mask updates every field populated in `owner`.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Owner'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Owner'
    /v1/rules:
        get:
            tags:
                - ValidationRuleService
            summary: List existing validation rules.
            description: |-
                List existing validation rules.

                 The request is paginated with a default page size of 100.
            operationId: ValidationRuleService_ListValidationRules
            parameters:
                - name: cursor
                  in: query
                  description: The cursor to resume listing from, as returned by a previous call's cursor.
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: The maximum number of validation rules to return. The default page size is 100.
                  schema:
                    type: integer
                    format: int32
                - name: orderBy
                  in: query
                  description: |-
                    A comma-separated list of fields to order by, each optionally suffixed with " desc"
                     for descending order (ascending is the default). See https://google.aip.dev/132.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListValidationRulesResponse'
        post:
            tags:
                - ValidationRuleService
            summary: Create a new validation rule.
            description: |-
                Create a new validation rule. Returns the full created rule, including its
                 server-assigned `id` and `updated_at`.
            operationId: ValidationRuleService_CreateValidationRule
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ValidationRule'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationRule'
    /v1/rules/{id}:
        get:
            tags:
                - ValidationRuleService
            summary: Get one validation rule by its id.
            description: Get one validation rule by its id.
            operationId: ValidationRuleService_GetValidationRule
            parameters:
                - name: id
                  in: path
                  description: The database id of the validation rule to lookup.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationRule'
        delete:
            tags:
                - ValidationRuleService
            summary: Delete a validation rule.
            description: Delete a validation rule.
            operationId: ValidationRuleService_DeleteValidationRule
            parameters:
                - name: id
                  in: path
                  description: The database id of the validation rule to delete.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - ValidationRuleService
            summary: Update an existing validation rule.
            description: |-
                Update an existing validation rule. Returns the full updated rule, with its new
                 `updated_at`.
            operationId: ValidationRuleService_UpdateValidationRule
            parameters:
                - name: id
                  in: path
                  description: The database id of the validation rule to update.
                  required: true
                  schema:
                    type: integer
                    format: int32
                - name: updateMask
                  in: query
                  description: |-
                    The fields of `validation_rule` to update. Fields populated in `validation_rule` but not
                     listed here are left unchanged. Omitting this mask updates every field populated in
                     `validation_rule`.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ValidationRule'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationRule'
    /v1/sources:
        get:
            tags:
                - SourceService
            summary: List all existing sources.
            description: List all existing sources.
            operationId: SourceService_ListSources
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListSourcesResponse'
        post:
            tags:
                - SourceService
            summary: Create a new source.
            description: |-
                Create a new source. Returns the full created source, including its server-assigned
                 `id` and `updated_at`.
            operationId: SourceService_CreateSource
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Source'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Source'
    /v1/sources/{name}:
        get:
            tags:
                - SourceService
            summary: Get one source by its name.
            description: Get one source by its name.
            operationId: SourceService_GetSource
            parameters:
                - name: name
                  in: path
                  description: The name of the source to lookup.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Source'
        delete:
            tags:
                - SourceService
            summary: Delete a source.
            description: Delete a source.
            operationId: SourceService_DeleteSource
            parameters:
                - name: name
                  in: path
                  description: The name of the source to delete.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - SourceService
            summary: Update an existing source.
            description: Update an existing source. Returns the full updated source, with its new `updated_at`.
            operationId: SourceService_UpdateSource
            parameters:
                - name: name
                  in: path
                  description: The current name of the source to update.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: |-
                    The fields of `source` to update. Fields populated in `source` but not listed here are
                     left unchanged. Omitting this mask updates every field populated in `source`.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Source'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Source'
    /v1/sources/{source}/flows/{stage}/{area}:
        get:
            tags:
                - ValidationFlowService
            summary: Get the flow connected to a source, for one stage and area.
            description: |-
                Get the validation flow connected to a source, for one stage and area.
                 The returned flow is deep: every rule and sub-flow item it contains,
                 recursively, carries both the database id of what it refers to and the
                 referred-to ValidationRule/ValidationFlow itself.
            operationId: ValidationFlowService_GetSourceFlow
            parameters:
                - name: source
                  in: path
                  description: The name of the source to lookup.
                  required: true
                  schema:
                    type: string
                - name: stage
                  in: path
                  description: |-
                    The stage of the flow to lookup.

                     This field is case insensitive.
                  required: true
                  schema:
                    enum:
                        - VALIDATION_STAGE_UNSPECIFIED
                        - STRUCTURAL
                        - LOCAL
                        - GLOBAL
                    type: string
                    format: enum
                - name: area
                  in: path
                  description: The name of the area to lookup.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationFlow'
components:
    schemas:
        Area:
            required:
                - name
                - owner
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the area.
                    format: int32
                name:
                    example: "Personalisering"
                    type: string
                    description: The name of the area.
                owner:
                    example: 2
                    type: integer
                    description: The database id of the owner of the area.
                    format: int32
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the area.
                    format: date-time
            description: A specific area that is interested in validating certain deliveries. Owned by exactly one Owner.
        FlowItem:
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the flow item.
                    format: int32
                ruleFlowItem:
                    allOf:
                        - $ref: '#/components/schemas/RuleFlowItem'
                    description: A rule inside the flow.
                subFlowItem:
                    allOf:
                        - $ref: '#/components/schemas/SubFlowItem'
                    description: A flow inside the flow.
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the flow item.
                    format: date-time
            description: One item in a ValidationFlow's ordered list.
        ListAreasResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Area'
                    description: All existing areas.
            description: Response for ListAreas.
        ListOwnersResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Owner'
                    description: All existing owners.
            description: Response for ListOwners.
        ListSourcesResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Source'
                    description: All existing sources.
            description: Response for ListSources.
        ListValidationFlowsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/ValidationFlow'
                    description: The (shallow) flows in this page of results.
                cursor:
                    example: "eyJpZCI6NjJ9"
                    type: string
                    description: |-
                        The cursor to pass to a subsequent call to continue listing. Empty
                         when there are no more results.
            description: Response for ListValidationFlows.
        ListValidationRulesResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/ValidationRule'
                    description: The validation rules in this page of results.
                cursor:
                    example: "eyJpZCI6NjJ9"
                    type: string
                    description: |-
                        The cursor to pass to a subsequent call to continue listing. Empty
                         when there are no more results.
            description: Response for ListValidationRules.
        Owner:
            required:
                - name
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the owner.
                    format: int32
                name:
                    example: "team-validering"
                    type: string
                    description: The name of the owner.
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the owner.
                    format: date-time
            description: An owner of deliveries and areas, for example an Entur team.
        RuleFlowItem:
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the ValidationRule this item runs.
                    format: int32
                validationRule:
                    readOnly: true
                    allOf:
                        - $ref: '#/components/schemas/ValidationRule'
                    description: |-
                        The full validation rule. Populated on a deep read (GetValidationFlow,
                         GetSourceFlow); absent on a shallow listing (ListValidationFlows).
                severityOverride:
                    example: "WARNING"
                    enum:
                        - SEVERITY_UNSPECIFIED
                        - CRITICAL
                        - ERROR
                        - WARNING
                        - INFO
                    type: string
                    description: If present, overrides the rule's own default_severity for this inclusion only.
                    format: enum
            description: |-
                A flow item that runs one concrete ValidationRule, optionally overriding
                 its default severity for this inclusion only.
        Source:
            required:
                - name
                - owner
            type: object
            properties:
                id:
                    example: 42
                    type: integer
                    description: The database id of the source.
                    format: int32
                name:
                    example: "rutedata"
                    type: string
                    description: The name of the source.
                owner:
                    example: 3
                    type: integer
                    description: The database id of the owner of the source.
                    format: int32
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the source.
                    format: date-time
            description: A named intake point for a set of files, owned by exactly one Owner.
        SubFlowItem:
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the flow to run.
                    format: int32
                flow:
                    readOnly: true
                    allOf:
                        - $ref: '#/components/schemas/ValidationFlow'
                    description: |-
                        The full flow. Populated on a deep read (GetValidationFlow,
                         GetSourceFlow), recursively for every sub-flow it contains in turn;
                         absent on a shallow listing (ListValidationFlows).
            description: |-
                A flow item that runs another ValidationFlow in its entirety, letting
                 flows be composed into a tree.
        ValidationFlow:
            required:
                - name
                - description
                - stage
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the validation flow.
                    format: int32
                name:
                    example: "netex-structural"
                    type: string
                    description: The name of the validation flow.
                description:
                    example: "Runs structural checks for NeTEx deliveries."
                    type: string
                    description: A textual description of the validation flow.
                stage:
                    example: "STRUCTURAL"
                    enum:
                        - VALIDATION_STAGE_UNSPECIFIED
                        - STRUCTURAL
                        - LOCAL
                        - GLOBAL
                    type: string
                    description: |-
                        The stage the validation flow runs in. All items in the validation
                         flow must have the same stage.
                    format: enum
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/FlowItem'
                    description: The validation flow's items, in execution order.
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the validation flow.
                    format: date-time
            description: |-
                A named, ordered tree of validation rules. A validation flow belongs to
                 exactly one validation stage; every rule and sub-flow it contains must
                 belong to that same stage.
        ValidationRule:
            required:
                - area
                - defaultSeverity
                - stage
                - description
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the validation rule.
                    format: int32
                area:
                    example: 7
                    type: integer
                    description: The database id of the area that owns the validation rule.
                    format: int32
                defaultSeverity:
                    example: "ERROR"
                    enum:
                        - SEVERITY_UNSPECIFIED
                        - CRITICAL
                        - ERROR
                        - WARNING
                        - INFO
                    type: string
                    description: The default severity of the validation rule.
                    format: enum
                stage:
                    example: "STRUCTURAL"
                    enum:
                        - VALIDATION_STAGE_UNSPECIFIED
                        - STRUCTURAL
                        - LOCAL
                        - GLOBAL
                    type: string
                    description: The stage the validation rule runs in.
                    format: enum
                description:
                    example: "Validates the file against its XSD."
                    type: string
                    description: A textual description of the validation rule.
                xsdRule:
                    allOf:
                        - $ref: '#/components/schemas/XsdRule'
                    description: An XSD rule.
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the validation rule.
                    format: date-time
            description: A single validation rule, owned by one Area.
        XsdRule:
            required:
                - message
                - xsdPath
            type: object
            properties:
                message:
                    example: "File does not match its XSD."
                    type: string
                    description: The message to print if the validation rule fails.
                xsdPath:
                    example: "xsd/netex/NeTEx_publication.xsd"
                    type: string
                    description: The path to the XSD, relative to some externally configured root.
                fileFilter:
                    example: ".*\\.xml"
                    type: string
                    description: A regexp a file's name must match to be processed by this rule. Runs against every file when absent.
            description: A validation rule that checks a file against an XSD. Always stage STRUCTURAL.
tags:
    - name: AreaService
      description: The gRPC service to view and administrate areas.
    - name: OwnerService
      description: The gRPC service to view and administrate owners.
    - name: SourceService
      description: The gRPC service to view and administrate sources.
    - name: ValidationFlowService
      description: The gRPC service to view and administrate flows.
    - name: ValidationRuleService
      description: The gRPC service to view and administrate validation rules.
