# Generated with protoc-gen-openapi and OpenApiAugmentationPipeline
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi
# https://github.com/entur/validation-core/tree/master/buildSrc/src/main/kotlin/no/entur/http/OpenApiAugmentationPipeline.kt

openapi: 3.0.3
info:
    title: kittum
    description: OpenAPI contract for kittum - the NeTEx validation rules storage.
    version: 0.0.1
    x-entur-metadata:
        id: kittum
        audience: internal
        owner: team-validering
    x-stability-level: draft
servers:
  - url: https://kittum.entur.io
paths:
    /validation/v1/areas:
        get:
            tags:
              - AreaService
            summary: List all existing areas.
            description: List all existing areas.
            operationId: AreaService_ListAreas
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAreasResponse'
        post:
            tags:
              - AreaService
            summary: Create a new area.
            description: |-
                Create a new area. Its `id` and `updated_at` are OUTPUT_ONLY and ignored if set; the
                 server assigns both. Returns the full created area, including its server-assigned `id`
                 and `updated_at`.
            operationId: AreaService_CreateArea
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Area'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Area'
                '409':
                    description: An area with the given name already exists.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/areas/{id}:
        get:
            tags:
              - AreaService
            summary: Get one area by its id.
            description: Get one area by its id.
            operationId: AreaService_GetArea
            parameters:
              - name: id
                in: path
                description: The database id of the area to lookup.
                required: true
                schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Area'
                '404':
                    description: No area exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        delete:
            tags:
              - AreaService
            summary: Delete an area.
            description: |-
                Delete an area. Over REST, this is a conditional request: it requires a matching
                 `If-Match` request header and fails with 409 Conflict (not the RFC 7232-standard 412,
                 which Entur's API guidelines don't allow) if it no longer matches the area's current
                 `ETag`, e.g. because another update happened concurrently. This is an HTTP-layer
                 precondition, not a field of DeleteAreaRequest.
            operationId: AreaService_DeleteArea
            parameters:
              - name: id
                in: path
                description: The database id of the area to delete.
                required: true
                schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: OK
                    content: {}
                '404':
                    description: No area exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the area's current
                        ETag, or the area is still referenced by a validation rule
                        or a source flow.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        patch:
            tags:
              - AreaService
            summary: Update an existing area.
            description: |-
                Update an existing area. Its `id`, if set, must match the path `id`. Returns the full
                 updated area, with its new `updated_at`. Over REST, this is a conditional request: it
                 requires a matching `If-Match` request header and fails with 409 Conflict (not the RFC
                 7232-standard 412, which Entur's API guidelines don't allow) if it no longer matches
                 the area's current `ETag`, e.g. because another update happened concurrently. This is
                 an HTTP-layer precondition, not a field of UpdateAreaRequest.
            operationId: AreaService_UpdateArea
            parameters:
              - name: id
                in: path
                description: The database id of the area to update.
                required: true
                schema:
                    type: integer
                    format: int32
              - name: updateMask
                in: query
                description: |-
                    The fields of `area` to update. Fields populated in `area` but not listed here are
                     left unchanged. Omitting this mask updates every field populated in `area`.
                schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Area'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Area'
                '404':
                    description: No area exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the area's current
                        ETag, or a different area with the new name already exists.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/flows:
        get:
            tags:
              - ValidationFlowService
            summary: List all existing flows.
            description: |-
                List existing validation flows. The request is paginated with a default
                 page size of 20. The flows are returned shallow: their rule and
                 sub-flow items carry only the database id of what they refer to.
            operationId: ValidationFlowService_ListValidationFlows
            parameters:
              - name: cursor
                in: query
                description: The cursor to resume listing from, as returned by a previous
                    call's cursor.
                schema:
                    type: string
              - name: pageSize
                in: query
                description: The maximum number of flows to return. The default page
                    size is 20.
                schema:
                    type: integer
                    format: int32
              - name: orderBy
                in: query
                description: |-
                    A comma-separated list of fields to order by, each optionally suffixed with " desc"
                     for descending order (ascending is the default). See https://google.aip.dev/132.
                schema:
                    type: string
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListValidationFlowsResponse'
        post:
            tags:
              - ValidationFlowService
            summary: Create a new validation flow.
            description: |-
                Create a new validation flow. Every item's `rule_flow_item.id`/`sub_flow_item.id` must
                 reference an existing ValidationRule/ValidationFlow of the same `stage`; their nested
                 `validation_rule`/`flow` fields are OUTPUT_ONLY and ignored if set. The flow's `id` and
                 `updated_at` are likewise OUTPUT_ONLY and ignored if set; the server assigns both.
                 Returns the full created flow, deep as in GetValidationFlow, including its
                 server-assigned `id` and `updated_at` and those of every item it contains.
            operationId: ValidationFlowService_CreateValidationFlow
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ValidationFlow'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationFlow'
                '400':
                    description: An item references a ValidationRule/ValidationFlow
                        that does not exist, or does not share this flow's stage.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/flows/{id}:
        get:
            tags:
              - ValidationFlowService
            summary: Get one flow by its id.
            description: |-
                Get one validation flow by its id. The returned flow is deep: every
                 rule and sub-flow item it contains, recursively, carries both the
                 database id of what it refers to and the referred-to
                 ValidationRule/ValidationFlow itself. The response's `ETag`/`updated_at` reflects only
                 this flow's own shallow state - its own fields and item list, i.e. which rules/sub-flows
                 are referenced and in what order - not the content of the nested rules/sub-flows
                 themselves, since CreateValidationFlow/UpdateValidationFlow only ever write that shallow
                 state. A referenced rule or sub-flow changing therefore changes this response's content
                 without changing this flow's own `ETag`.
            operationId: ValidationFlowService_GetValidationFlow
            parameters:
              - name: id
                in: path
                description: The database id of the flow to lookup.
                required: true
                schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationFlow'
                '404':
                    description: No validation flow exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        delete:
            tags:
              - ValidationFlowService
            summary: Delete a validation flow.
            description: |-
                Delete a validation flow. Over REST, this is a conditional request: it requires a
                 matching `If-Match` request header and fails with 409 Conflict (not the RFC
                 7232-standard 412, which Entur's API guidelines don't allow) if it no longer matches
                 the flow's current `ETag` - its own shallow state, as returned by GetValidationFlow,
                 unaffected by changes to a referenced rule or sub-flow - e.g. because another update
                 to this flow happened concurrently. This is an HTTP-layer precondition, not a field of
                 DeleteValidationFlowRequest.
            operationId: ValidationFlowService_DeleteValidationFlow
            parameters:
              - name: id
                in: path
                description: The database id of the validation flow to delete.
                required: true
                schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: OK
                    content: {}
                '404':
                    description: No validation flow exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the flow's current
                        ETag, or the validation flow is still referenced by a sub
                        flow item or a source flow.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        patch:
            tags:
              - ValidationFlowService
            summary: Update an existing validation flow.
            description: |-
                Update an existing validation flow. Its `id`, if set, must match the path `id`.
                 `items` is treated as a single unit: including it (or omitting the update mask entirely)
                 replaces the flow's whole item list with what is given, populated and ignored the
                 same way as in CreateValidationFlow - there is no way to patch only one item in place.
                 Returns the full updated flow, deep as in GetValidationFlow, with its new `updated_at`
                 and those of every item it contains. Over REST, this is a conditional request: it
                 requires a matching `If-Match` request header and fails with 409 Conflict (not the RFC
                 7232-standard 412, which Entur's API guidelines don't allow) if it no longer matches
                 the flow's current `ETag` - its own shallow state, as returned by GetValidationFlow,
                 unaffected by changes to a referenced rule or sub-flow - e.g. because another update
                 to this flow happened concurrently. This is an HTTP-layer precondition, not a field of
                 UpdateValidationFlowRequest.
            operationId: ValidationFlowService_UpdateValidationFlow
            parameters:
              - name: id
                in: path
                description: The database id of the validation flow to update.
                required: true
                schema:
                    type: integer
                    format: int32
              - name: updateMask
                in: query
                description: |-
                    The fields of `validation_flow` to update. Fields populated in `validation_flow` but not
                     listed here are left unchanged. Omitting this mask updates every field populated in
                     `validation_flow`.
                schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ValidationFlow'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationFlow'
                '404':
                    description: No validation flow exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '400':
                    description: An item references a ValidationRule/ValidationFlow
                        that does not exist, or does not share this flow's stage.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the flow's current
                        ETag.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/owners:
        get:
            tags:
              - OwnerService
            summary: List all existing owners.
            description: List all existing owners.
            operationId: OwnerService_ListOwners
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListOwnersResponse'
        post:
            tags:
              - OwnerService
            summary: Create a new owner.
            description: |-
                Create a new owner. Its `id` and `updated_at` are OUTPUT_ONLY and ignored if set; the
                 server assigns both. Returns the full created owner, including its server-assigned `id`
                 and `updated_at`.
            operationId: OwnerService_CreateOwner
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Owner'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Owner'
                '409':
                    description: An owner with the given name already exists.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/owners/{id}:
        get:
            tags:
              - OwnerService
            summary: Get one owner by its id.
            description: Get one owner by its id.
            operationId: OwnerService_GetOwner
            parameters:
              - name: id
                in: path
                description: The database id of the owner to lookup.
                required: true
                schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Owner'
                '404':
                    description: No owner exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        delete:
            tags:
              - OwnerService
            summary: Delete an owner.
            description: |-
                Delete an owner. Over REST, this is a conditional request: it requires a matching
                 `If-Match` request header and fails with 409 Conflict (not the RFC 7232-standard 412,
                 which Entur's API guidelines don't allow) if it no longer matches the owner's current
                 `ETag`, e.g. because another update happened concurrently. This is an HTTP-layer
                 precondition, not a field of DeleteOwnerRequest.
            operationId: OwnerService_DeleteOwner
            parameters:
              - name: id
                in: path
                description: The database id of the owner to delete.
                required: true
                schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: OK
                    content: {}
                '404':
                    description: No owner exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the owner's
                        current ETag, or the owner is still referenced by an area
                        or a source.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        patch:
            tags:
              - OwnerService
            summary: Update an existing owner.
            description: |-
                Update an existing owner. Its `id`, if set, must match the path `id`. Returns the full
                 updated owner, with its new `updated_at`. Over REST, this is a conditional request: it
                 requires a matching `If-Match` request header and fails with 409 Conflict (not the RFC
                 7232-standard 412, which Entur's API guidelines don't allow) if it no longer matches
                 the owner's current `ETag`, e.g. because another update happened concurrently. This is
                 an HTTP-layer precondition, not a field of UpdateOwnerRequest.
            operationId: OwnerService_UpdateOwner
            parameters:
              - name: id
                in: path
                description: The database id of the owner to update.
                required: true
                schema:
                    type: integer
                    format: int32
              - name: updateMask
                in: query
                description: |-
                    The fields of `owner` to update. Fields populated in `owner` but not listed here are
                     left unchanged. Omitting this mask updates every field populated in `owner`.
                schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Owner'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Owner'
                '404':
                    description: No owner exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the owner's
                        current ETag, or a different owner with the new name already
                        exists.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/rules:
        get:
            tags:
              - ValidationRuleService
            summary: List existing validation rules.
            description: |-
                List existing validation rules.

                 The request is paginated with a default page size of 100.
            operationId: ValidationRuleService_ListValidationRules
            parameters:
              - name: cursor
                in: query
                description: The cursor to resume listing from, as returned by a previous
                    call's cursor.
                schema:
                    type: string
              - name: pageSize
                in: query
                description: The maximum number of validation rules to return. The
                    default page size is 100.
                schema:
                    type: integer
                    format: int32
              - name: orderBy
                in: query
                description: |-
                    A comma-separated list of fields to order by, each optionally suffixed with " desc"
                     for descending order (ascending is the default). See https://google.aip.dev/132.
                schema:
                    type: string
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListValidationRulesResponse'
        post:
            tags:
              - ValidationRuleService
            summary: Create a new validation rule.
            description: |-
                Create a new validation rule. Exactly one field of its `rule` oneof must be set. Its
                 `id` and `updated_at` are OUTPUT_ONLY and ignored if set; the server assigns both.
                 Returns the full created rule, including its server-assigned `id` and `updated_at`.
            operationId: ValidationRuleService_CreateValidationRule
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ValidationRule'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationRule'
    /validation/v1/rules/{id}:
        get:
            tags:
              - ValidationRuleService
            summary: Get one validation rule by its id.
            description: Get one validation rule by its id.
            operationId: ValidationRuleService_GetValidationRule
            parameters:
              - name: id
                in: path
                description: The database id of the validation rule to lookup.
                required: true
                schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationRule'
                '404':
                    description: No validation rule exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        delete:
            tags:
              - ValidationRuleService
            summary: Delete a validation rule.
            description: |-
                Delete a validation rule. Over REST, this is a conditional request: it requires a
                 matching `If-Match` request header and fails with 409 Conflict (not the RFC
                 7232-standard 412, which Entur's API guidelines don't allow) if it no longer matches
                 the rule's current `ETag`, e.g. because another update happened concurrently. This is
                 an HTTP-layer precondition, not a field of DeleteValidationRuleRequest.
            operationId: ValidationRuleService_DeleteValidationRule
            parameters:
              - name: id
                in: path
                description: The database id of the validation rule to delete.
                required: true
                schema:
                    type: integer
                    format: int32
            responses:
                '200':
                    description: OK
                    content: {}
                '404':
                    description: No validation rule exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the rule's current
                        ETag, or the validation rule is still referenced by a validation
                        flow item.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        patch:
            tags:
              - ValidationRuleService
            summary: Update an existing validation rule.
            description: |-
                Update an existing validation rule. Its `id`, if set, must match the path `id`.
                 The `rule` oneof's set field is immutable: it must be the same variant (e.g. `xsd_rule`)
                 as the rule's current type, and the request fails with INVALID_ARGUMENT if it is not -
                 changing a rule's type requires deleting it and creating a new one. Returns the full
                 updated rule, with its new `updated_at`. Over REST, this is a conditional request: it
                 requires a matching `If-Match` request header and fails with 409 Conflict (not the RFC
                 7232-standard 412, which Entur's API guidelines don't allow) if it no longer matches
                 the rule's current `ETag`, e.g. because another update happened concurrently. This is
                 an HTTP-layer precondition, not a field of UpdateValidationRuleRequest.
            operationId: ValidationRuleService_UpdateValidationRule
            parameters:
              - name: id
                in: path
                description: The database id of the validation rule to update.
                required: true
                schema:
                    type: integer
                    format: int32
              - name: updateMask
                in: query
                description: |-
                    The fields of `validation_rule` to update. Fields populated in `validation_rule` but not
                     listed here are left unchanged. Omitting this mask updates every field populated in
                     `validation_rule`.
                schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ValidationRule'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationRule'
                '404':
                    description: No validation rule exists with the given id.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '400':
                    description: The `rule` oneof's set field does not match the rule's
                        current type.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the rule's current
                        ETag.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/sources:
        get:
            tags:
              - SourceService
            summary: List all existing sources.
            description: List all existing sources.
            operationId: SourceService_ListSources
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListSourcesResponse'
        post:
            tags:
              - SourceService
            summary: Create a new source.
            description: |-
                Create a new source. Unlike Area/Owner, a source's `name` is chosen by the caller and is
                 its identifier; the request fails with ALREADY_EXISTS if it is already taken. Its `id`
                 and `updated_at` are OUTPUT_ONLY and ignored if set; the server assigns both. Returns
                 the full created source, including its server-assigned `id` and `updated_at`.
            operationId: SourceService_CreateSource
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Source'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Source'
                '409':
                    description: A source with the given name already exists.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/sources/{name}:
        get:
            tags:
              - SourceService
            summary: Get one source by its name.
            description: Get one source by its name.
            operationId: SourceService_GetSource
            parameters:
              - name: name
                in: path
                description: The name of the source to lookup.
                required: true
                schema:
                    type: string
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Source'
                '404':
                    description: No source exists with the given name.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        delete:
            tags:
              - SourceService
            summary: Delete a source.
            description: |-
                Delete a source. Over REST, this is a conditional request: it requires a matching
                 `If-Match` request header and fails with 409 Conflict (not the RFC 7232-standard 412,
                 which Entur's API guidelines don't allow) if it no longer matches the source's current
                 `ETag`, e.g. because another update happened concurrently. This is an HTTP-layer
                 precondition, not a field of DeleteSourceRequest.
            operationId: SourceService_DeleteSource
            parameters:
              - name: name
                in: path
                description: The name of the source to delete.
                required: true
                schema:
                    type: string
            responses:
                '200':
                    description: OK
                    content: {}
                '404':
                    description: No source exists with the given name.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: The `If-Match` header does not match the source's
                        current ETag, or the source is still referenced by a source
                        flow.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
        patch:
            tags:
              - SourceService
            summary: Update an existing source.
            description: |-
                Update an existing source. Its `id`, if set, must match the source's own id. Renaming a
                 source is allowed by setting a different `name` in the body (and including it in the
                 update mask); later requests use the new name. Returns the full updated source,
                 with its new `updated_at`. Over REST, this is a conditional request: it requires a
                 matching `If-Match` request header and fails with 409 Conflict (not the RFC
                 7232-standard 412, which Entur's API guidelines don't allow) if it no longer matches
                 the source's current `ETag`, e.g. because another update happened concurrently. This
                 is an HTTP-layer precondition, not a field of UpdateSourceRequest.
            operationId: SourceService_UpdateSource
            parameters:
              - name: name
                in: path
                description: The current name of the source to update.
                required: true
                schema:
                    type: string
              - name: updateMask
                in: query
                description: |-
                    The fields of `source` to update. Fields populated in `source` but not listed here are
                     left unchanged. Omitting this mask updates every field populated in `source`.
                schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Source'
                required: true
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Source'
                '404':
                    description: No source exists with the given name.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
                '409':
                    description: A different source with the new name already exists,
                        or the `If-Match` header does not match the source's current
                        ETag.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
    /validation/v1/sources/{source}/flows/{stage}/{area}:
        get:
            tags:
              - ValidationFlowService
            summary: Get the flow connected to a source, for one stage and area.
            description: |-
                Get the validation flow connected to a source, for one stage and area.
                 The returned flow is deep: every rule and sub-flow item it contains,
                 recursively, carries both the database id of what it refers to and the
                 referred-to ValidationRule/ValidationFlow itself.
            operationId: ValidationFlowService_GetSourceFlow
            parameters:
              - name: source
                in: path
                description: The name of the source to lookup.
                required: true
                schema:
                    type: string
              - name: stage
                in: path
                description: |-
                    The stage of the flow to lookup.

                     This field is case insensitive.
                required: true
                schema:
                    enum:
                      - VALIDATION_STAGE_UNSPECIFIED
                      - STRUCTURAL
                      - LOCAL
                      - GLOBAL
                    type: string
                    format: enum
              - name: area
                in: path
                description: The name of the area to lookup.
                required: true
                schema:
                    type: string
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationFlow'
                '404':
                    description: The source or area does not exist, or no flow is
                        connected for the given stage and area.
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ProblemDetail'
components:
    schemas:
        Area:
            required:
              - name
              - owner
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the area.
                    format: int32
                name:
                    example: Personalisering
                    type: string
                    description: The name of the area.
                owner:
                    example: 2
                    type: integer
                    description: The database id of the owner of the area.
                    format: int32
                updatedAt:
                    readOnly: true
                    example: '2026-01-01T00:00:00Z'
                    type: string
                    description: |-
                        The timestamp the area was last updated. Always populated by the server; a value set by
                         the client is ignored, not an error.
                    format: date-time
            description: A specific area that is interested in validating certain
                deliveries. Owned by exactly one Owner.
            example:
                id: 1
                name: Personalisering
                owner: 2
                updatedAt: '2026-01-01T00:00:00Z'
        FieldViolation:
            description: One request field that failed validation.
            required:
              - field
              - message
            type: object
            properties:
                field:
                    type: string
                    description: The offending field, e.g. "name" or "items[2].severity_override".
                    example: name
                message:
                    type: string
                    description: A human-readable explanation of why this field is
                        invalid.
                    example: must not be blank
            example:
                field: name
                message: must not be blank
        FlowItem:
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the flow item.
                    format: int32
                ruleFlowItem:
                    allOf:
                      - $ref: '#/components/schemas/RuleFlowItem'
                    description: A rule inside the flow.
                subFlowItem:
                    allOf:
                      - $ref: '#/components/schemas/SubFlowItem'
                    description: A flow inside the flow.
                updatedAt:
                    readOnly: true
                    example: '2026-01-01T00:00:00Z'
                    type: string
                    description: |-
                        The timestamp the flow item was last updated. Always populated by the server; a value
                         set by the client is ignored, not an error.
                    format: date-time
            description: One item in a ValidationFlow's ordered list.
            example:
                id: 1
                ruleFlowItem:
                    id: 1
                    validationRule:
                        id: 1
                        area: 7
                        defaultSeverity: ERROR
                        stage: STRUCTURAL
                        description: Validates the file against its XSD.
                        xsdRule:
                            message: File does not match its XSD.
                            xsdPath: xsd/netex/NeTEx_publication.xsd
                            fileFilter: .*\.xml
                        updatedAt: '2026-01-01T00:00:00Z'
                    severityOverride: WARNING
                updatedAt: '2026-01-01T00:00:00Z'
        ListAreasResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Area'
                    description: All existing areas.
            description: Response for ListAreas.
            example:
                items:
                  - id: 1
                    name: Personalisering
                    owner: 2
                    updatedAt: '2026-01-01T00:00:00Z'
        ListOwnersResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Owner'
                    description: All existing owners.
            description: Response for ListOwners.
            example:
                items:
                  - id: 1
                    name: team-validering
                    updatedAt: '2026-01-01T00:00:00Z'
        ListSourcesResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/Source'
                    description: All existing sources.
            description: Response for ListSources.
            example:
                items:
                  - id: 42
                    name: rutedata
                    owner: 3
                    updatedAt: '2026-01-01T00:00:00Z'
        ListValidationFlowsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/ValidationFlow'
                    description: The (shallow) flows in this page of results.
                cursor:
                    example: eyJpZCI6NjJ9
                    type: string
                    description: |-
                        The cursor to pass to a subsequent call to continue listing. Empty
                         when there are no more results.
            description: Response for ListValidationFlows.
            example:
                items:
                  - id: 1
                    name: netex-structural
                    description: Runs structural checks for NeTEx deliveries.
                    stage: STRUCTURAL
                    items:
                      - id: 1
                        ruleFlowItem:
                            id: 1
                            validationRule:
                                id: 1
                                area: 7
                                defaultSeverity: ERROR
                                stage: STRUCTURAL
                                description: Validates the file against its XSD.
                                xsdRule:
                                    message: File does not match its XSD.
                                    xsdPath: xsd/netex/NeTEx_publication.xsd
                                    fileFilter: .*\.xml
                                updatedAt: '2026-01-01T00:00:00Z'
                            severityOverride: WARNING
                        updatedAt: '2026-01-01T00:00:00Z'
                    updatedAt: '2026-01-01T00:00:00Z'
                cursor: eyJpZCI6NjJ9
        ListValidationRulesResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/ValidationRule'
                    description: The validation rules in this page of results.
                cursor:
                    example: eyJpZCI6NjJ9
                    type: string
                    description: |-
                        The cursor to pass to a subsequent call to continue listing. Empty
                         when there are no more results.
            description: Response for ListValidationRules.
            example:
                items:
                  - id: 1
                    area: 7
                    defaultSeverity: ERROR
                    stage: STRUCTURAL
                    description: Validates the file against its XSD.
                    xsdRule:
                        message: File does not match its XSD.
                        xsdPath: xsd/netex/NeTEx_publication.xsd
                        fileFilter: .*\.xml
                    updatedAt: '2026-01-01T00:00:00Z'
                cursor: eyJpZCI6NjJ9
        Owner:
            required:
              - name
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the owner.
                    format: int32
                name:
                    example: team-validering
                    type: string
                    description: The name of the owner.
                updatedAt:
                    readOnly: true
                    example: '2026-01-01T00:00:00Z'
                    type: string
                    description: |-
                        The timestamp the owner was last updated. Always populated by the server; a value set by
                         the client is ignored, not an error.
                    format: date-time
            description: An owner of deliveries and areas, for example an Entur team.
            example:
                id: 1
                name: team-validering
                updatedAt: '2026-01-01T00:00:00Z'
        ProblemDetail:
            description: RFC 9457 Problem Details for HTTP APIs.
            required:
              - title
              - status
            type: object
            properties:
                title:
                    type: string
                    description: A short, human-readable summary of the problem type.
                    example: Not Found
                status:
                    type: integer
                    format: int32
                    description: The HTTP status code.
                    example: 404
                detail:
                    type: string
                    description: A human-readable explanation specific to this occurrence.
                    example: No source exists with the name 'rutedata'.
                errors:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: |-
                        Field-level validation errors that caused this problem, if any. This is an RFC 9457 extension
                         member; it is absent when the problem isn't a per-field validation failure.
            example:
                title: Not Found
                status: 404
                detail: No source exists with the name 'rutedata'.
                errors:
                  - field: name
                    message: must not be blank
        RuleFlowItem:
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the ValidationRule this item runs.
                    format: int32
                validationRule:
                    readOnly: true
                    allOf:
                      - $ref: '#/components/schemas/ValidationRule'
                    description: |-
                        The full validation rule. Populated on a deep read (GetValidationFlow,
                         GetSourceFlow); absent on a shallow listing (ListValidationFlows).
                severityOverride:
                    example: WARNING
                    enum:
                      - SEVERITY_UNSPECIFIED
                      - CRITICAL
                      - ERROR
                      - WARNING
                      - INFO
                    type: string
                    description: If present, overrides the rule's own default_severity
                        for this inclusion only.
                    format: enum
            description: |-
                A flow item that runs one concrete ValidationRule, optionally overriding
                 its default severity for this inclusion only.
            example:
                id: 1
                validationRule:
                    id: 1
                    area: 7
                    defaultSeverity: ERROR
                    stage: STRUCTURAL
                    description: Validates the file against its XSD.
                    xsdRule:
                        message: File does not match its XSD.
                        xsdPath: xsd/netex/NeTEx_publication.xsd
                        fileFilter: .*\.xml
                    updatedAt: '2026-01-01T00:00:00Z'
                severityOverride: WARNING
        Source:
            required:
              - name
              - owner
            type: object
            properties:
                id:
                    example: 42
                    type: integer
                    description: The database id of the source.
                    format: int32
                name:
                    example: rutedata
                    type: string
                    description: The name of the source.
                owner:
                    example: 3
                    type: integer
                    description: The database id of the owner of the source.
                    format: int32
                updatedAt:
                    readOnly: true
                    example: '2026-01-01T00:00:00Z'
                    type: string
                    description: |-
                        The timestamp the source was last updated. Always populated by the server; a value set
                         by the client is ignored, not an error.
                    format: date-time
            description: A named intake point for a set of files, owned by exactly
                one Owner.
            example:
                id: 42
                name: rutedata
                owner: 3
                updatedAt: '2026-01-01T00:00:00Z'
        SubFlowItem:
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the flow to run.
                    format: int32
                flow:
                    readOnly: true
                    allOf:
                      - $ref: '#/components/schemas/ValidationFlow'
                    description: |-
                        The full flow. Populated on a deep read (GetValidationFlow,
                         GetSourceFlow), recursively for every sub-flow it contains in turn;
                         absent on a shallow listing (ListValidationFlows).
            description: |-
                A flow item that runs another ValidationFlow in its entirety, letting
                 flows be composed into a tree.
            example:
                id: 1
                flow:
                    id: 1
                    name: netex-structural
                    description: Runs structural checks for NeTEx deliveries.
                    stage: STRUCTURAL
                    items:
                      - id: 1
                        ruleFlowItem:
                            id: 1
                            validationRule:
                                id: 1
                                area: 7
                                defaultSeverity: ERROR
                                stage: STRUCTURAL
                                description: Validates the file against its XSD.
                                xsdRule:
                                    message: File does not match its XSD.
                                    xsdPath: xsd/netex/NeTEx_publication.xsd
                                    fileFilter: .*\.xml
                                updatedAt: '2026-01-01T00:00:00Z'
                            severityOverride: WARNING
                        updatedAt: '2026-01-01T00:00:00Z'
                    updatedAt: '2026-01-01T00:00:00Z'
        ValidationFlow:
            required:
              - name
              - description
              - stage
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the validation flow.
                    format: int32
                name:
                    example: netex-structural
                    type: string
                    description: The name of the validation flow.
                description:
                    example: Runs structural checks for NeTEx deliveries.
                    type: string
                    description: A textual description of the validation flow.
                stage:
                    example: STRUCTURAL
                    enum:
                      - VALIDATION_STAGE_UNSPECIFIED
                      - STRUCTURAL
                      - LOCAL
                      - GLOBAL
                    type: string
                    description: |-
                        The stage the validation flow runs in. All items in the validation
                         flow must have the same stage.
                    format: enum
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/FlowItem'
                    description: The validation flow's items, in execution order.
                updatedAt:
                    readOnly: true
                    example: '2026-01-01T00:00:00Z'
                    type: string
                    description: |-
                        The timestamp the validation flow was last updated. Always populated by the server; a
                         value set by the client is ignored, not an error.
                    format: date-time
            description: |-
                A named, ordered tree of validation rules. A validation flow belongs to
                 exactly one validation stage; every rule and sub-flow it contains must
                 belong to that same stage.
            example:
                id: 1
                name: netex-structural
                description: Runs structural checks for NeTEx deliveries.
                stage: STRUCTURAL
                items:
                  - id: 1
                    ruleFlowItem:
                        id: 1
                        validationRule:
                            id: 1
                            area: 7
                            defaultSeverity: ERROR
                            stage: STRUCTURAL
                            description: Validates the file against its XSD.
                            xsdRule:
                                message: File does not match its XSD.
                                xsdPath: xsd/netex/NeTEx_publication.xsd
                                fileFilter: .*\.xml
                            updatedAt: '2026-01-01T00:00:00Z'
                        severityOverride: WARNING
                    updatedAt: '2026-01-01T00:00:00Z'
                updatedAt: '2026-01-01T00:00:00Z'
        ValidationRule:
            required:
              - area
              - defaultSeverity
              - stage
              - description
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the validation rule.
                    format: int32
                area:
                    example: 7
                    type: integer
                    description: The database id of the area that owns the validation
                        rule.
                    format: int32
                defaultSeverity:
                    example: ERROR
                    enum:
                      - SEVERITY_UNSPECIFIED
                      - CRITICAL
                      - ERROR
                      - WARNING
                      - INFO
                    type: string
                    description: The default severity of the validation rule.
                    format: enum
                stage:
                    example: STRUCTURAL
                    enum:
                      - VALIDATION_STAGE_UNSPECIFIED
                      - STRUCTURAL
                      - LOCAL
                      - GLOBAL
                    type: string
                    description: The stage the validation rule runs in.
                    format: enum
                description:
                    example: Validates the file against its XSD.
                    type: string
                    description: A textual description of the validation rule.
                xsdRule:
                    allOf:
                      - $ref: '#/components/schemas/XsdRule'
                    description: An XSD rule.
                updatedAt:
                    readOnly: true
                    example: '2026-01-01T00:00:00Z'
                    type: string
                    description: |-
                        The timestamp the validation rule was last updated. Always populated by the server; a
                         value set by the client is ignored, not an error.
                    format: date-time
            description: A single validation rule, owned by one Area.
            example:
                id: 1
                area: 7
                defaultSeverity: ERROR
                stage: STRUCTURAL
                description: Validates the file against its XSD.
                xsdRule:
                    message: File does not match its XSD.
                    xsdPath: xsd/netex/NeTEx_publication.xsd
                    fileFilter: .*\.xml
                updatedAt: '2026-01-01T00:00:00Z'
        XsdRule:
            required:
              - message
              - xsdPath
            type: object
            properties:
                message:
                    example: File does not match its XSD.
                    type: string
                    description: The message to print if the validation rule fails.
                xsdPath:
                    example: xsd/netex/NeTEx_publication.xsd
                    type: string
                    description: The path to the XSD, relative to some externally
                        configured root.
                fileFilter:
                    example: .*\.xml
                    type: string
                    description: A regexp a file's name must match to be processed
                        by this rule. Runs against every file when absent.
            description: A validation rule that checks a file against an XSD. Always
                stage STRUCTURAL.
            example:
                message: File does not match its XSD.
                xsdPath: xsd/netex/NeTEx_publication.xsd
                fileFilter: .*\.xml
tags:
  - name: AreaService
    description: The gRPC service to view and administrate areas.
  - name: OwnerService
    description: The gRPC service to view and administrate owners.
  - name: SourceService
    description: The gRPC service to view and administrate sources.
  - name: ValidationFlowService
    description: The gRPC service to view and administrate flows.
  - name: ValidationRuleService
    description: The gRPC service to view and administrate validation rules.
